$primary-color: green;
h1 {
    color: $primary-color;
}
p {
    color: $primary-color;
}
header {
    display: flex;
    justify-content: space-between;
    
    img {
        width: 100px;
    }
    div {
        display: flex;
        gap: 20px;
        a {
            text-decoration: none;
        }

    }

       };