body {
    background-color: rgb(221, 214, 214);
    font-family: 'Roboto', sans-serif;
     
}
.contaner {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    margin: 1rem auto;
    padding: 1rem;
    width: 75%;
}
header {
   
    text-align: center;
   width: 75%;
   
    }
  header img {
    height: 4rem;
  }
nav a {   
    color: black;
    text-decoration: none;
   margin: 1rem;
}
.apie-mus {
      
        
}

